@mixin center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//MEdia query manager
/**/

@mixin respond($breakpoint) {
  @if $breakpoint == 323 {
    @media (max-width: 20.18em) {
      //323px (size/16)
      @content;
    }
  }

  @if $breakpoint == 415 {
    @media (max-width: 25.9em) {
      //415px (size/16)
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px (size/16)
      @content;
    }
  }

  @if $breakpoint == 755 {
    @media (max-width: 47.18em) {
      //755px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == 1100 {
    @media (max-width: 68.75em) {
      //1100px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == 1500 {
    @media (max-width: 93.75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
