.row {
  max-width: $grid-width;
  // gap: $gutter-horizontal;
  margin: 0px auto;
  display: grid;
  justify-content: space-between;
  align-items: center;
  align-items: start;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 9.6rem;
  }

  @include respond(phone) {
    &:not(:last-child) {
      margin-bottom: 6.6rem;
    }
  }

  &.col-1-of-2 {
    grid-template-columns: 1fr 1fr;
    column-gap: $gutter-horizontal;

    @include respond(1100) {
      margin: 0 6rem 0 6rem;
      column-gap: 5rem;
    }

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      row-gap: 6rem;
    }

    @include respond(phone) {
      row-gap: 3rem;
    }

    @include respond(323) {
      margin: 0 3rem 0 3rem;
    }
  }

  &.col-1-of-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: $gutter-horizontal;

    @include respond(tab-port) {
      // margin: 0 auto;
      max-width: 50rem;
      grid-template-columns: 1fr;
      row-gap: 4rem;
    }
  }
  &.col-1-of-4 {
    grid-template-columns: repeat(4, 1fr);
    column-gap: $gutter-horizontal;

    @include respond(tab-port) {
      margin: 0 3rem 0rem 3rem;
      column-gap: $gutter-horizontal-query;
      row-gap: 4rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
      margin: 0 3rem 0rem 3rem;

      row-gap: 4rem;
      grid-template-columns: 1fr;
    }
  }
}

[class^="col-"] {
  align-items: start;
}

.col-1-of-2-popup {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: $gutter-horizontal;
  align-items: center;

  @include respond(1500) {
    column-gap: 3rem;
  }

  @include respond(1100) {
    grid-template-columns: 1fr;
  }
}
