.row {
  max-width: $grid-width;
  // gap: $gutter-horizontal;
  margin: 0px auto;
  display: grid;

  justify-content: space-between;
  align-items: center;
  align-items: start;

  &:not(:last-child) {
    margin-bottom: 9.6rem;
  }

  &.col-1-of-2 {
    grid-template-columns: 1fr 1fr;
    column-gap: $gutter-horizontal;
  }

  &.col-1-of-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: $gutter-horizontal;
  }
  &.col-1-of-4 {
    grid-template-columns: repeat(4, 1fr);
    column-gap: $gutter-horizontal;
  }
}

[class^="col-"] {
  align-items: start;
}
